.playButton
{
  background-color: rgb(95, 153, 153);
}

.center-song{
  margin-left: 40%;
  align-content: center;
}


.card{
  background-color: rgb(227, 231, 236);
  border-color: rgb(95, 153, 153);
  border-width: 1px;
}

.a{
  margin-right: 100px;
}

.mat-icon {
  font-size: 30px;
}

h1{
  color: rgb(27, 55, 80);
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.overflow
{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
