.playButton
{
  background-color: rgb(95, 153, 153);
  width: 100%;

}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.mat-form-field{
    width: 100%;
    padding-top: 20px;
}

.card{
  background-color: rgb(227, 231, 236);
  border-color: rgb(95, 153, 153);
  border-width: 1px;
}

.playButton
{
  background-color: rgb(95, 153, 153);
  width: 100%;

}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.mat-form-field{
    width: 100%;
    padding-top: 20px;
}

.card{
  background-color: rgb(227, 231, 236);
  border-color: rgb(95, 153, 153);
  border-width: 1px;
}

.adminButton
{
  background-color: rgb(95, 153, 153);
  width: auto;
  margin-top: 5px;
  margin-left: 15px;
}




