<div class="container col-12 row">
  <div class="col-12">
    <mat-form-field appearance="fill">
      <mat-label>Künstler</mat-label>
      <input matInput [(ngModel)]="artist" required />
      <mat-hint>Dieses Feld muss angegeben werden</mat-hint>
    </mat-form-field>
    <br />

    <mat-form-field appearance="fill">
      <mat-label>Song Titel</mat-label>
      <input matInput [(ngModel)]="songTitle" />
    </mat-form-field>
    <br />

    <button class="btn playButton" (click)="search()">
      <mat-icon>search</mat-icon>
    </button> <br />
    <br />
  </div>

  <span *ngIf="songs.length == 0">
    <h1 class="text-danger">Es wurden keine Lieder gefunden</h1>
  </span>

  
  <span class="col-sm-12 col-md-12 row" style="margin-bottom: 10px; margin-left: 8px;" *ngFor="let song of songs">
    <div class="card mb-3" style="max-width: 400px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img
      *ngIf="song.thumbnail == undefined"
      class="card-img-top"      src="../assets/musicCover.jpg"
      width="100px"
      />
      <img
      *ngIf="song.thumbnail != undefined"
      class="card-img-top"      [src]="song.thumbnail"
      width="100px"
      style="margin-left: -12px;"
    />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">{{song.songName}}</h3>
          </div>
          <p class="card-text">
            <button class="btn btn-dark col-4 center" [disabled]="buttonDisable" (click)="addSong(song)" style="height: 40%; margin-left: 40px;  
             background-color: rgb(95, 153, 153);   border-color: rgb(95, 153, 153);

            ">
              <mat-icon>add</mat-icon>
            </button>        
          </p>
        </div>

        
      </div>
    </div>
  </span>
</div>



